.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Add background image */
body {
    background-image: url('bg.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-attachment: fixed; /* Keeps the image fixed when scrolling */
}