#download-progress-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    z-index: 9999;
}

.ui.active.teal.progress {
    height: 5px; /* Ajusta a altura da barra de progresso */
    width: 100%; /* Garante que a largura seja 100% */
}

#download-progress-bar {
    height: 100%; /* Garante que a barra ocupe toda a altura da progress bar */
    width: 0%; /* Inicialmente a barra estará vazia */
}

body {
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: 10% 90%;
    background-repeat: no-repeat;
    padding-bottom: 60px; /* Espaço para a progress bar */
}

.login-form {
    width: 400px;
    margin: 50px auto;
    margin-top: 20%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}

.login-form .ui.input,
.login-form .ui.button {
    width: 100%;
    margin-bottom: 15px;
}
